.themeButton {
  font-size: 1.2rem;
  padding: 0.25rem 0.55rem;
  margin-top: 5px;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text);
  transition: color var(--timing);
}

.themeButton:hover {
  color: var(--accent);
}

.themeButtonPlaceholder {
  display: block;
  width: 1em;
  height: 1em;
}

:global([data-theme="unicorn"]) .sun,
:global([data-theme="light"]) .sun {
  display: none;
}

:global([data-theme="dark"]) .moon {
  display: none;
}
