.Gif {
  margin: 1.5rem auto;
}

.Gif video {
  max-width: 100%;
}

.Gif figcaption {
  color: var(--caption);
  font-style: italic;
  font-size: var(--font-size-sm);
  text-align: center;
  height: 0;
  overflow: hidden;
}
