.tags {
  list-style: none;
  padding: 0;
  margin: 0 0 0.5rem;
}

.tags.sm .tag {
  font-size: var(--font-size-sm);
}

.tags.md .tag {
  font-size: var(--font-size-md);
}

.tags.lg .tag {
  font-size: var(--font-size-lg);
}

.tag {
  display: inline-block;
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  font-weight: 900;
}

.tag:not(:last-child):after {
  content: ",";
  margin-right: 0.5rem;
}

.tag a {
  background: none;
  transition: color var(--timing);
}

.tag a:hover {
  color: var(--accent);
}

.tag.draft {
  color: var(--red-300);
}
