.customizer {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  z-index: 1000;
}

.button {
  position: relative;
  top: 5px;
  padding: 0;
  font-size: var(--font-size-2x);
}

.field {
  margin-bottom: 0.5rem;
}

.field:has(input[type="checkbox"]) {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.field label {
  display: block;
}
