.container {
  --padding: 0 1rem;
  --max-width: var(--container-md);

  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--padding);
}

.container.wide {
  --max-width: var(--container-lg);
}

@media screen and (min-width: 400px) {
  .container {
    --padding: 0 3.5rem;
  }
}
