*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family-sans);
  line-height: 1.5;
}

/**
 * CODE BLOCKS
**/
pre,
code,
pre *,
code * {
  font-family: var(--font-family-mono) !important;
  font-variant-ligatures: normal;
  font-size: 0.85rem !important;
}

/**
 * TYPOGRAPHY
**/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  line-height: 1.2;
  letter-spacing: -0.025em;
  color: var(--color-text);
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: inherit;
  text-decoration: none;
}

h1 > strong,
h2 > strong,
h3 > strong,
h4 > strong,
h5 > strong,
h6 > strong {
  color: var(--color-accent);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-weight: 900;
  font-size: var(--font-size-4x);
}
h2 {
  font-size: var(--font-size-3x);
}
h3 {
  font-size: var(--font-size-2x);
}
h4 {
  font-size: var(--font-size-xl);
}
h5 {
  font-size: var(--font-size-lg);
}
h6 {
  font-size: var(--font-size-md);
}

p {
  line-height: 1.6;
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: 0 0 1rem;
  padding: 0;
}

/**
 * LINKS
**/
a {
  text-decoration: none;
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(
    transparent 0%,
    transparent calc(50% - 7px),
    var(--color-link-accent) calc(50% - 7px),
    var(--color-link-accent) 100%
  );
  background-size: 100% 200%;
  background-position: 0px 0px;
  word-break: break-word;
  transition: background-position 0.3s;
}

a:hover,
a:focus {
  background-position: 0px 100%;
}

/**
 * LISTS
**/
ul,
ol {
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 0 2rem;
  margin-bottom: 1.25rem;
  list-style: disc;
}
ul li,
ol li {
  padding-left: 0;
  margin-bottom: 0.5rem;
}

ul li > p,
ol li > p {
  margin-bottom: 1rem;
}

ul li *:last-child,
ol li *:last-child {
  margin-bottom: 0;
}

ul ul,
ol ul {
  list-style: circle;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-left: 0.25rem;
  margin-top: 0.5rem;
}

main > ul {
  padding-left: 0;
  list-style: none;
}

/**
 * BLOCKQUOTE
**/

blockquote {
  color: var(--color-caption);
  margin-left: 0;
  margin-right: 2rem;
  padding: 0 0 0 1.5rem;
  border-left: 0.25rem solid var(--color-caption);
  border-radius: var(--border-rounded);
  font-size: var(--font-size-lg);
  font-style: italic;
  margin-bottom: 2rem;
}

blockquote > :last-child {
  margin-bottom: 0;
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

/**
 * TABLE
**/
table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

thead tr th {
  border-bottom: 2px solid var(--color-grey-200);
}

tr {
  border-bottom: 1px solid var(--color-grey-100);
}

th,
td {
  text-align: left;
  padding: var(--spacing-2) var(--spacing-0);
}

/**
 * FORMS
**/
form input[type="text"],
form input[type="email"] {
  padding: calc(0.5rem + 1px);
  border: 1px solid var(--color-border);
  background: var(--color-grey--50);
  color: var(--color-grey--900);
  font-size: 1rem;
}

form a,
form button {
  padding: 0.5rem;
  background: var(--color-button-accent);
  border: 1.5px solid var(--color-button-accent);
  border-radius: var(--border-rounded);
  color: var(--color-text);
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s, border-color 0.3s;
}
form a:hover,
form button:hover {
  background: var(--color-button-accent-hover);
  border-color: var(--color-button-accent-hover);
}

code {
  background: var(--color-grey--800);
  padding: 0.25rem 0.125rem;
}

/**
 * IMAGES
**/
img {
  max-width: 100%;
  height: auto;
}
