*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

body {
  background: var(--page-bg);
  color: var(--text);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  line-height: 1.5;
  position: relative;
}

body:after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  opacity: var(--bg-opacity, 0.4);
  background: var(--page-bg);
  background-image: var(--bg-image);
  z-index: -1;
}

/**
 * TYPOGRAPHY
**/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  line-height: 1.2;
  letter-spacing: -0.025em;
  color: var(--heading);
  font-weight: 900;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: inherit;
  text-decoration: none;
}

h1 > strong,
h2 > strong,
h3 > strong,
h4 > strong,
h5 > strong,
h6 > strong {
  color: var(--accent);
}

h1 {
  font-size: var(--font-size-3x);
}
h2 {
  font-size: var(--font-size-2x);
}
h3 {
  font-size: var(--font-size-xl);
}
h4 {
  font-size: var(--font-size-lg);
}
h5 {
  font-size: var(--font-size-md);
}
h6 {
  font-size: var(--font-size-sm);
}

p {
  line-height: 1.6;
  margin: 0 0 1rem;
  padding: 0;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

/**
 * LINKS
**/
a {
  display: inline-block;
  text-decoration: none;
  color: var(--accent);
  text-decoration: none;
  cursor: pointer;
  word-break: break-word;
  background-color: transparent;
  transition: background-color var(--timing), transform var(--timing);
}

a span {
  display: inline-block;
  transform: rotate(0deg);
  transition: transform var(--timing);
}

a:hover {
  transform: rotate(calc(var(--link-rotation) * -1));
  background-color: color-mix(in srgb, var(--text), transparent 90%);
}

a:hover span {
  transform: rotate(var(--link-rotation));
}

/**
 * LISTS
**/
ul,
ol {
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 0 2rem;
  margin-bottom: 1.25rem;
  list-style: disc;
}
ul li,
ol li {
  padding-left: 0;
  margin-bottom: 0.5rem;
}

ul li > p,
ol li > p {
  margin-bottom: 1rem;
}

ul li *:last-child,
ol li *:last-child {
  margin-bottom: 0;
}

ul ul,
ol ul {
  list-style: circle;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-left: 0.25rem;
  margin-top: 0.5rem;
}

main > ul {
  padding-left: 0;
  list-style: none;
}

/**
 * BLOCKQUOTE
**/

blockquote {
  color: var(--caption);
  margin-left: 0;
  margin-right: 2rem;
  padding: 0 0 0 1.5rem;
  border-left: 0.25rem solid var(--caption);
  font-size: var(--font-size-lg);
  font-style: italic;
  margin-bottom: 2rem;
}

blockquote > :last-child {
  margin-bottom: 0;
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

/**
 * TABLE
**/
table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

thead tr th {
  border-bottom: 2px solid var(--color-grey-200);
}

tr {
  border-bottom: 1px solid var(--color-grey-100);
}

th,
td {
  text-align: left;
  padding: var(--spacing-2) var(--spacing-0);
}

/**
 * FORMS
**/
form input[type="text"],
form input[type="email"] {
  padding: calc(0.5rem + 1px);
  border: 1px solid var(--border);
  background: var(--grey-50);
  color: var(--grey-900);
  font-size: var(--font-size-md);
}

form a,
form button {
  padding: 0.5rem;
  background: var(--button-bg);
  border: 1.5px solid var(--button-bg);
  border-radius: var(--border-rounded);
  color: var(--button-fg);
  cursor: pointer;
  font-size: var(--font-size-md);
  transition: background var(--timing), border-color var(--timing);
}
form a:hover,
form button:hover {
  --button-hover: color-mix(in srgb, var(--button-bg), var(--page-bg) 15%);

  background: var(--button-hover);
  border-color: var(--button-hover);
}

/**
 * IMAGES
**/
img {
  max-width: 100%;
  height: auto;
}
