:root {
  --color-grey--50: #fdfdfe;
  --color-grey--100: #eef2f6;
  --color-grey--200: #dbe2ed;
  --color-grey--300: #9aa5b1;
  --color-grey--400: #7b8794;
  --color-grey--500: #616e7c;
  --color-grey--600: #52606d;
  --color-grey--700: #3e4c59;
  --color-grey--800: #323f4b;
  --color-grey--900: #1f2933;

  --color-teal--50: #defcfa;
  --color-teal--100: #beefec;
  --color-teal--200: #9ae1de;
  --color-teal--300: #74d4d0;
  --color-teal--400: #50c8c2;
  --color-teal--500: #37afa9;
  --color-teal--600: #278883;
  --color-teal--700: #17625e;
  --color-teal--800: #033b39;
  --color-teal--900: #001616;

  --color-red--50: #ffe4eb;
  --color-red--100: #feb7c6;
  --color-red--200: #f6899f;
  --color-red--300: #f15a79;
  --color-red--400: #ec2d53;
  --color-red--500: #d21339;
  --color-red--600: #a50c2d;
  --color-red--700: #76061f;
  --color-red--800: #490112;
  --color-red--900: #1e0005;

  --color-facebook: #3b5998;
  --color-twitter: #1da1f2;
  --color-linkedin: #0077b5;
  --color-pinterest: #bd081c;
  --color-email: #838485;
  --color-icon: #ffffff;

  --font-family-sans: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-serif: "Merriweather", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-family-mono: Hack, "Fira Code", Consolas, Menlo, Monaco, "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;

  --font-size-xs: 0.7rem;
  --font-size-sm: 0.8rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2x: 1.75rem;
  --font-size-3x: 2rem;
  --font-size-4x: 2.5rem;
  --font-size-5x: 3rem;

  --border-rounded: 0.25rem;
}
