.environmentBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  cursor: help;
}

.container {
  position: relative;
  top: 1rem;
  color: #fff;
  font-size: 0.625rem;
  font-family: var(--font-family-mono);
  padding: 0.1rem 1rem;
  text-transform: capitalize;
  background: var(--color-error);
  display: flex;
  transition: top 0.3s;
}

.environmentBar:hover .container {
  top: 0;
}

.adminButton {
  display: block;
  background: var(--color-grey--900);
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  transition: background 0.2s;
}

.adminButton:hover {
  background: var(--color-grey--800);
}

.env {
  font-style: italic;
}

.environmentBar p {
  margin: 0 1rem;
}

@media screen and (min-width: 768px) {
  .environmentBar {
    height: auto;
  }
}
