/* Keep values hardcode so changing font-size in root will not affect the bar */
.environmentBar {
  position: relative;
  z-index: 10;
  height: 32px;
  width: 100%;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: var(--grey-0);
  font-size: 10px;
  font-family: var(--font-family-mono);
  padding: 2px 24px;
  text-transform: capitalize;
  background: #111111;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: top var(--timing);
}

.data {
  color: var(--red-300);
  font-style: italic;
}

.environmentBar p {
  margin: 0;
}

.sites {
  margin: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 4px 0;
  list-style: none;
}

.site {
  margin: 0;
}

.site a {
  color: var(--color-white);
  text-decoration: none;
}

.site a > span {
  display: flex;
  gap: 8px;
  align-items: center;
}

.site a:hover > span {
  color: var(--tertiary);
  transition: transform var(--timing), color var(--timing);
}

.site svg {
  width: 16px;
  height: 16px;
}

.site svg path {
  fill: var(--color-white);
}
