.environmentBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  /* cursor: help; */
}

.container {
  position: relative;
  /* top: 1.6rem; */
  color: var(--color-white);
  font-size: 0.625rem;
  font-family: var(--font-family-mono);
  padding: 0.1rem 1rem;
  text-transform: capitalize;
  background: #111;
  display: flex;
  align-items: center;
  transition: top 0.3s;
}

.environmentBar:hover .container {
  top: 0;
}

.adminButton {
  display: block;
  background: var(--color-grey--900);
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  transition: background 0.2s;
}

.adminButton:hover {
  background: var(--color-grey--800);
}

.env {
  font-style: italic;
}

.environmentBar p {
  margin: 0 1rem;
}

.sites {
  margin: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-left: 0;
  list-style: none;
}

.site {
  margin: 0;
}

.site a {
  color: var(--color-white);
  text-decoration: none;
}

.site a > span {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.site svg {
  width: 1.5rem;
  height: 1.5rem;
}

.site svg path {
  fill: var(--color-white);
}

@media screen and (min-width: 768px) {
  .environmentBar {
    height: auto;
  }
}
