.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.headerItems,
.headerNav {
  display: flex;
  align-items: center;
  margin: 0;
}

.headerLogo {
  font-size: var(--font-size--xl);
  font-weight: bold;
  color: var(--color-text);
  background: none;
}

.headerNavItem {
  list-style: none;
  padding: 0.55rem;
  margin: 0;
}

.headerButton {
  font-size: 1.2rem;
  padding: 0.25rem 0.55rem;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.searchForm {
  display: flex;
}

.header .searchInput {
  width: 37.5rem;
  max-width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  background: var(--color-grey--50);
  color: var(--color-grey--900);
  border: none;
}

.searchButton {
  border: none;
  border-radius: 0;
  padding: 0.9rem;
  background: var(--color-grey--50);
  color: var(--color-grey--500);
  font-size: 1.75rem;
  transition: color 0.3s;
}

.searchButton:hover {
  background: var(--color-grey--50);
  color: var(--color-grey--900);
}

@media screen and (min-width: 460px) {
  .header {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
