.Header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.HeaderItems,
.HeaderNav {
	display: flex;
	align-items: center;
	margin: 0;
}

.HeaderLogo {
	font-size: var(--font-size--xl);
	font-weight: bold;
	color: var(--color-text);
	background: none;
}

.HeaderNavItem {
	list-style: none;
	padding: 0.55rem;
	margin: 0;
}

.HeaderButton {
	font-size: 1.2rem;
	padding: 0.25rem 0.55rem;
	display: flex;
	align-items: center;
	background: none;
	border: none;
	cursor: pointer;
}
