.summaryGrid {
  margin-top: 2rem;
}

.title {
  grid-column: span 3;
  font-size: var(--font-size-4x);
  font-weight: 900;
  line-height: 1.3;
  margin-bottom: 0;
}

a.titleLink {
  background: none;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s;
}

a.titleLink:after {
  content: "→";
  margin-left: 1rem;
  font-weight: 400;
  font-size: var(--font-size-2x);
  transition: transform 0.3s;
}

a.titleLink:hover {
  color: var(--color-accent);
}

a.titleLink:hover:after {
  transform: translateX(0.5rem);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  list-style: none;
  margin: 2rem 0 0;
  padding: 0;
}

.summary {
  position: relative;
}

.summaryTitle {
  display: block;
  font-size: var(--font-size-2x);
  background: none;
  font-weight: 900;
  line-height: 1.3;
  margin-bottom: 0.8rem;
  transition: color 0.3s;
}

.summaryTitle:after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
}

.summaryTitle:hover {
  color: var(--color-accent);
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}
