.SocialMenuContainer {
  --inactive: color-mix(in srgb, var(--text), transparent 50%);
  --active: var(--text);

  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 21.875rem;
  min-height: 18.75rem;
  width: 5rem;
}

.SocialMenu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: visible;
  transition: var(--timing);
}

.SocialMenu:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 2.5rem;
  height: 18.75rem;
  width: 0.0625rem;
  background: var(--nav-bg);
  z-index: -1;
}

.SocialMenu menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.SocialMenu li,
.SocialMenu a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SocialMenu a {
  font-size: var(--font-size-xl);
  background: none;
  border: none;
  margin: 0.125rem 1rem;
  color: var(--nav-bg);
  cursor: pointer;
  transition: color var(--timing), transform var(--timing);
}
.SocialMenu a:hover {
  color: var(--nav-fg);
  background: none;
  opacity: 1;
}

@media screen and (min-width: 53.125rem) {
  .SocialMenuContainer {
    display: block;
  }
}
