.footer {
  padding: 3rem 0;
}

.footerSocials {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.footerSocialLink {
  color: var(--text);
  background: none;
  margin: 0.55rem;
  font-size: var(--font-size-xl);
  opacity: 0.5;
  background: none;
  transform: none;
  transition: color var(--timing), opacity var(--timing);
}

.footerSocialLink:hover {
  background: none;
  transform: none;
  opacity: 1;
}

.footerSocialLink span,
.footerSocialLink:hover span {
  transform: none;
}
