.footer {
  padding: 3rem 0;
}

.footerSocials {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.footerSocialLink {
  color: var(--nav-bg);
  background: none;
  margin: 0.55rem;
  font-size: var(--font-size-xl);
  background: none;
  transform: none;
  transition: color var(--timing);
}

.footerSocialLink:hover {
  background: none;
  transform: none;
  color: var(--nav-fg);
}

.footerSocialLink span,
.footerSocialLink:hover span {
  transform: none;
}
