:root {
	--color-grey--50: #fdfdfe;
	--color-grey--100: #eef2f6;
	--color-grey--200: #dbe2ed;
	--color-grey--300: #9aa5b1;
	--color-grey--400: #7b8794;
	--color-grey--500: #616e7c;
	--color-grey--600: #52606d;
	--color-grey--700: #3e4c59;
	--color-grey--800: #323f4b;
	--color-grey--900: #1f2933;

	--color-bg: var(--color-grey--900);
	--color-text: var(--color-grey--50);
	--color-caption: var(--color-grey--300);
	--color-code-bg: var(--color-grey--800);
	--color-accent: var(--color-teal--400);
	--color-link-accent: var(--color-teal--600);
	--color-border: var(--color-grey--700);
}

html {
	font-size: 18px;
}

body {
	font-size: 1rem;
	font-family: sans-serif;
	line-height: 1.5;
	background: var(--color-bg);
	color: var(--color-text);
}

main {
	max-width: 750px;
	margin: 0 auto;
}

figure {
	margin: 10px 0;
}

figure video {
	display: block;
	margin: 0 auto;
	max-width: 600px;
}

figcaption {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
	font-size: 0.8rem;
	font-style: italic;
}

pre,
code {
	font-size: 0.8rem;
}

.header {
	padding: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header a {
	margin: 10px;
	text-decoration: none;
	color: inherit;
}

.signup {
	max-width: 600px;
	padding: 20px 10px;
	margin: 10px auto;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	text-align: center;
}
