:root {
	--color-grey--50: #fdfdfe;
	--color-grey--100: #eef2f6;
	--color-grey--200: #dbe2ed;
	--color-grey--300: #9aa5b1;
	--color-grey--400: #7b8794;
	--color-grey--500: #616e7c;
	--color-grey--600: #52606d;
	--color-grey--700: #3e4c59;
	--color-grey--800: #323f4b;
	--color-grey--900: #1f2933;

	--color-teal--50: #defcfa;
	--color-teal--100: #beefec;
	--color-teal--200: #9ae1de;
	--color-teal--300: #74d4d0;
	--color-teal--400: #50c8c2;
	--color-teal--500: #37afa9;
	--color-teal--600: #278883;
	--color-teal--700: #17625e;
	--color-teal--800: #033b39;
	--color-teal--900: #001616;

	--color-bg: var(--color-grey--900);
	--color-text: var(--color-grey--50);
	--color-caption: var(--color-grey--300);
	--color-code-bg: var(--color-grey--800);
	--color-accent: var(--color-teal--400);
	--color-link-accent: var(--color-teal--600);
	--color-border: var(--color-grey--700);
}

html {
	font-size: 18px;
}

body {
	font-size: 1rem;
	font-family: sans-serif;
	line-height: 1.5;
	background: var(--color-bg);
	color: var(--color-text);
	margin: 0;
}

main {
	max-width: 750px;
	margin: 0 auto;
}

a {
	color: var(--color-accent);
}

figure,
[role="figure"] {
	margin: 1.5rem auto;
}

img {
	max-width: 100%;
	width: 600px;
}

figure video {
	display: block;
	margin: 0 auto;
	width: 100%;
}

figcaption,
.figcaption {
	max-width: 600px;
	margin: 0 auto !important;
	text-align: center;
	color: var(--color-grey--400) !important;
	font-size: 0.8rem;
	font-style: italic;
}

pre,
code {
	font-size: 0.8rem;
}

.header {
	padding: 0 10px;
	background: #222;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.header a {
	padding: 10px;
	text-decoration: none;
	color: inherit;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.signup {
	max-width: 600px;
	padding: 20px 10px;
	margin: 10px auto;
	background: var(--color-grey--700);
	border-radius: 3px;
	text-align: center;
}

.content img {
	display: block;
	margin: 1.5rem auto;
}
