.image {
	margin: 1.5rem auto;
	display: block;
}

.imageImg {
	height: auto;
	display: block;
	margin: 0.25rem auto;
}

.imageCaption {
	display: block;
	color: var(--color-caption);
	font-style: italic;
	font-size: 0.875rem;
	text-align: center;
}
