.backToTop {
  font-size: var(--font-size--xl);
  background: none;
  border: none;
  margin: 0.25rem 1rem;
  color: var(--color-text);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}
.backToTop:hover {
  color: var(--color-accent);
}

.show {
  visibility: visible;
  opacity: 0.5;
}
.show:hover {
  opacity: 1;
}
